<ion-header>
  <ion-toolbar>
    <ion-title>Listagem</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="https://rx.iscdn.net/2009/03/pastrana-stlouis-cox-2009-045.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Travis Pastrana Piloto Profissional</ion-card-subtitle>
      <ion-card-title>Motocross</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Travis Alan Pastrana é um atleta único, competindo em várias modalidades como Supercross, Motocross, Freestyle, e corridas de rally e Nascar, onde obteve sucesso, quebrou recordes, redesenhou a história, criou manobras e fez o que muitos achavam impossível.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="https://i.ytimg.com/vi/tA9exk2XC8Y/hqdefault.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Luan de Oliveira Skatista Profissional
      </ion-card-subtitle>
      <ion-card-title>Skate</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Luan Vilanova de Oliveira mais conhecido como Luan Oliveira é um skatista profissional brasileiro e um dos mais influentes skatistas da nova geração de skaters no Brasil. 
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="https://www.lance.com.br/files/article_main/uploads/2019/12/04/5de81d9961008.jpeg" />
    <ion-card-header>
      <ion-card-subtitle>Neymar da Silva Santos Júnior
      </ion-card-subtitle>
      <ion-card-title>Futebol</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Neymar Jr. é um futebolista brasileiro que atua como atacante. Atualmente joga pelo Paris Saint-Germain e pela Seleção Brasileira.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="https://static.poder360.com.br/2020/08/Usain-Bolt-1200x630.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Usain St. Leo Bolt
      </ion-card-subtitle>
      <ion-card-title>Corrida</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      É um ex-velocista jamaicano multicampeão olímpico e mundial nessa modalidade. É o único atleta na história a tornar-se tricampeão em duas modalidades de pista em Jogos Olímpicos de forma consecutiva e bicampeão também de forma consecutiva na modalidade revezamento 4 x 100 metros.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="https://conteudo.imguol.com.br/c/entretenimento/b0/2020/04/24/fallen-mibr-1587737447429_v2_450x337.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Gabriel Toledo de Alcântara Sguario
      </ion-card-subtitle>
      <ion-card-title>E-sports</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Mais conhecido como FalleN, é um jogador profissional de Counter-Strike: Global Offensive. Em 2015 ele foi nomeado como a pessoa mais influente no Esports brasileiro.
    </ion-card-content>
  </ion-card>
</ion-content>
